$select-bg: transparentize(lighten($color-primary, 10), 0.5);

::selection{
  background: $select-bg;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: $select-bg;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: $select-bg;
  color: #fff;
  text-shadow: none;
}
