<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="assets/css/style.min.css" rel="stylesheet">

    <script src="assets/js/modernizr.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <header class="header" role="banner">
      {% block header %}
      {% endblock %}
    </header>

    <main class="main" role="main">
      {% block main %}
      {% endblock %}
    </main>

    <aside class="sidebar" role="complementary">
      {% block sidebar %}
      {% endblock %}
    </aside>

    <footer class="footer" role="contentinfo">
      {% block footer %}
      {% endblock %}
    </footer>

    {% include "partials/scripts.njk" %}

    {% block end %}
    {% endblock %}

  </body>
</html>
