* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

////
/// Some defaults
///
/// This serves as a starting point for styling your page.
/// normalize.css is loaded before this.
////

html {
    // 10px / 16px (inspired by Skeleton)
    // rem units are now scaled to 1rem = 10px
    font-size: 62.5%;
}

h1 { font-size: 5rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 3.6rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 1.5rem; }

p,
span,
div { font-size: 1.6rem; }

///
// Add your own global rules below
///
