////
/// Font @imports and @font-faces
////

///
/// @font-face mixin using WOFF2 with WOFF as a fallback.
///
@mixin fontFace($fontFamily, $woffUrl, $woff2Url) {
    @font-face {
        font-family: $fontFamily;
        src:
            url($woff2Url) format("woff2")
            url($woffUrl) format("woff");
    }
}

///
// Import any external fonts you might use here
///
