/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

/*
 * Breakpoints
 * Example: @include media('<phone') { font-size: 20px }
 */
$breakpoints: im-to-em((
  small-phone: 410px,
  phone: 768px,
  desktop: 1024px,
  large-desktop: 1700px
));

/*
 * COLORS
 */
// Base
$color-white: #fafafa;
$color-white-dark: darken($color-white, 25%);
$color-white-dark2: darken($color-white, 40%);

// Primary
$color-primary: #00897b;
$color-primary-light: lighten($color-primary, 15);
$color-primary-dark: #00564d;

// Secondary
$color-secondary: #282828;
$color-secondary-lighter: #363636;
$color-secondary-lightest: #969696;

$color-red: #D32F2F;

/*
 * FONT STACKS
 */
$font-family-primary: Montserrat, Helvetica, sans-serif;
$font-family-secondary: "LatoWeb", Arial, sans-serif;
