{# ! No relative paths needed, all files inside templates/ are available ! #}

{# {% set title = 'inline data' %} #}

{% extends "base.njk" %}

{% block title %}
{% endblock %}

{% block main %}

{% endblock %}

{# include other blocks as necessary #}
