{% extends "base.njk" %}
{% block title %}Sample Page | gulp-nunjucks-sass-template{% endblock %}

{% block headEnd %}
    {{ tags.css | safe }}
{% endblock %}

{% block bodyOutside %}
<body>
    <h1>Lorem ipsum 2</h1>

    {{ tags.scripts.samplepage | safe }}
</body>
{% endblock %}
