/**
 * Example on how to use @use rules.
 */
@use "../vars" as vars;
@use "../modules/common" as c;
@use "../modules/media" as m;

// TODO move, doesn't belong here
html {
    @include c.size-rectangle("100%");
}

.page--index {
    @include c.size-rectangle(100%);

    background-color: vars.$color-background-dark;
    color: vars.$colour-white;

    @include m.upToTabletPortrait() {
        h1 {
            color: #bebebe;
            font-size: 4rem;
        }

        h1::after {
            content: "\AWe're on a smaller screen!";
            font-size: 2rem;
            text-align: center;
            white-space: pre;
        }
    }

    h1 {
        color: saturate(vars.$colour-primary-dark, 25%);
        font-size: 5.7rem;
    }

    div {
        font-size: 2rem;
        text-align: center;
    }
}
