/**
 * This SCSS file serves as an entry file for the entire stylesheet.
 */

///
// Load libraries
///
// @use "vendor/skeleton";


///
// Load base SCSS
///
@use "base/_normalize.css";
@use "base/defaults";
@use "base/fonts";

@use "vars" as vars;
@use "base/bones" with (
    $font-family: vars.$font-family-native,
);


///
// Load all layouts
///
@use "layout/page-index";
@use "layout/page-bones";
